@font-face {
    font-family: 'Roboto';
    src: url('/me/untethr/nostr/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/me/untethr/nostr/font/Roboto-Bold.ttf');
}

* {
    -nd-basic-border-color: #aaa;
    -nd-hover-background-color: #eee;
    -nd-timeline-item-pubkey-color: #0097a7;
    -nd-timeline-item-name-color: #e64a19;
    -nd-publish-button-color: #2262ba;
}

.hyperlink {
    -fx-fill: blue;
}

.ndesk-lhs-pane {
    -fx-pref-width: 275;
    -fx-border-color: transparent -nd-basic-border-color transparent transparent;
    -fx-padding: 5px;
}

.ndesk-keycard {
    -fx-padding: 5px;
    -fx-border-insets: 2px;
    -fx-background-insets: 5px;
    -fx-border-color: -nd-basic-border-color;
}

.ndesk-keycard-active {
    -fx-border-width: 5px;
}

.ndesk-keycard:hover {
    -fx-background-color: -nd-hover-background-color;
}

.ndesk-keycard-photo {
    -fx-alignment: center;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ndesk-keycard-pubkey {
    -fx-min-height: 50;
    -fx-padding: 0 10px;
}

.ndesk-keycard-about {
    -fx-padding: 3px;
}

.ndesk-status-bar {
    -fx-border-color: -nd-basic-border-color transparent transparent transparent;
}

.ndesk-status-relays {
    -fx-padding: 3px;
}

.ndesk-table-view {
    -fx-border-color: -nd-basic-border-color;
}

.ndesk-timeline-item-photo {
    -fx-alignment: center;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ndesk-timeline-item-name {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: -nd-timeline-item-name-color;
    -fx-padding: 3px;
}

.ndesk-timeline-item-pubkey {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: -nd-timeline-item-pubkey-color;
    -fx-padding: 3px;
}

.ndesk-timeline-item-content-outer {
    -fx-padding: 10px;
}

.ndesk-timeline-item-content {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.ndesk-publish-box {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-pref-height: 1em;
}

.ndesk-publish-box:focused {
    -fx-pref-height: 5em;
}

.ndesk-reply-box {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-pref-height: 5em;
}

.ndesk-publish-button {
    -fx-font-family: "Roboto Bold";
    -fx-background-color: -nd-publish-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-pref-width: 6em;
    -fx-pref-height: 2em;
    /*-fx-font-weight: bold; ...negates the boldness somehow*/
}

.ndesk-reply-button {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 10pt;
    -fx-pref-width: 5em;
    -fx-padding: 2px;
    -fx-background-color: -nd-publish-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
    /*-fx-font-weight: bold; ...negates the boldness somehow*/
}
